/* Estilos básicos para el formulario */
#fichaPersonal {
  max-width: 600px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.input-group {
  margin-bottom: 20px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

input[type="text"]:focus {
  outline: none;
  border-color: #4CAF50;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="number"],
input[type="file"],
button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.dropdown {
  max-height: 150px; /* Altura máxima del dropdown */
  overflow-y: auto; /* Habilitar scroll vertical si hay más opciones */
}